html {
  background-color: #121212ea;
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  width: 70%;
  background-color: #4a4a4a;
  height: 100%;
  border-radius: 12px;
}

header {
  text-align: center;
  margin: 10px 0 3px;
  border-bottom: 3px #2f2f2f solid;
  border-radius: 2px;
}

#page-title {
  font-size: 30px;
  padding-bottom: 10px;
  color: #000080;
  text-shadow: #7a7a7a 1px 1px 2px;
}

main {
  background-color: #727272;
  border-radius: 4px;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 20px 0;
}

#username-input {
  margin-top: 4px;
  border-radius: 10px;
  border-width: 2px;
  text-align: center;
}

#submit-input {
  margin-top: 6px;
  width: 100%;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 2.2px 0 0;
  border-top: 3px #2f2f2f solid;
  border-radius: 3px;
  padding: 20px 0;
  background-color: #4a4a4a;
}

#footer-text {
  font-size: 15px;
  color: #000080;
  text-shadow: #737373 1px 1px 1px;
}

#api-link {
  color: #401a8d;
}

#username-input:focus, #submit-input:focus {
  outline: none;
}

#submit-input:active {
  background-color: rgb(168, 168, 168);
  transition: 0.07s;
}

#api-link:hover {
  text-shadow: black 1px 1px;
  color: #af1f4f;
}

/*
- Mudar README.md
- Mudar nome do diretório
- Checar por mais erros de sintaxe
*/