html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
  border-radius: 12px;
  height: 100vh;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 10px 0 3px;
  border-bottom: 3px #2f2f2f solid;
  border-radius: 2px;
}

#page-title {
  font-size: 30px;
  padding-bottom: 10px;
  color: #000080;
  text-shadow: #7a7a7a 1px 1px 2px;
}

main {
  background-color: #727272;
  border-radius: 4px;
  display: flex;
  flex: 0 auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 20px 0 20px;
}

#username-input {
  margin-top: 4px;
  border-radius: 10px;
  border-width: 2px;
  text-align: center;
}

#submit-input {
  margin-top: 6px;
  width: 100%;
  border-radius: 10px;
}

#avatar {
  border: rgb(239, 239, 211) 1px solid;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  margin-bottom: 15px;
}

#user-container {
  border-bottom: #000000 2px dotted;
}

#user {
  text-align: justify;
  margin-left: 15%;
}

#user p {
  font-size: 20px;
}

.view-label {
  font-weight: bold;
  margin-bottom: 2px;
}

#repos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0 30px;
  width: 80%;
}

.repo-element {
  margin: 10px 0 20px;
  width: 35%;
}

.repo-icon {
  height: 50%;
  width: 20%;
}

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-top: 3px #2f2f2f solid;
  border-radius: 3px;
  padding: 20px 0;
  background-color: #4a4a4a;
  margin-top: auto;
}

#footer-text {
  font-size: 15px;
  color: #000080;
  text-shadow: #737373 1px 1px 1px;
}

#api-link {
  color: #401a8d;
}

#username-input:focus, #submit-input:focus {
  outline: none;
}

#submit-input:active {
  background-color: rgb(168, 168, 168);
  transition: 0.07s;
}

#api-link:hover {
  text-shadow: black 1px 1px;
  color: #af1f4f;
}

@media (max-width: 780px) {
  #user {
    margin: 0 2%;
  }
  #repos-container {
    flex-direction: column;
    align-items: center;
  }
}